<div class="mycol">

  <form [formGroup]="myForm" class="row">
    <!-- <mat-form-field style="width: 70%;">
    <input matInput [formControl]="myAuto" [matAutocomplete]="auto" placeholder="Nome de client">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let e of filteredOptions | async" [value]="e">{{ e }} </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
    
      <mat-form-field class="col-md-12">
        <mat-label>Nom de client</mat-label>
        <input matInput [formControl]="myAuto" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let e of filteredOptions | async" [value]="e">{{ e.nom }} </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="showClientDetails = !showClientDetails">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    

    <!-- <div class="col-md-3">
      <button type="button" mat-icon-button (click)="showClientDetails = !showClientDetails">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->

  
      <mat-form-field *ngIf="showClientDetails" class="col-md-6">
        <mat-label>Tel</mat-label>
        <input matInput formControlName="tel">
      </mat-form-field>
    
      <mat-form-field *ngIf="showClientDetails" class="col-md-6">
        <mat-label>ICE</mat-label>
        <input matInput formControlName="ice">
      </mat-form-field>
    
  </form>

</div>

<div class="row">
    <mat-form-field class="col-md-6 col-sm-6">
      <mat-label>Type payment</mat-label>
      <mat-select [formControl]="modePayement">
        <mat-option *ngFor="let e of uow.typePayemet" [value]="e">{{e}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="col-md-6 col-sm-6" *ngIf="modePayement.value === 'Chèque'">
      <mat-label>Numero cheque</mat-label>
      <input matInput [formControl]="numCheque" type="text">
    </mat-form-field>

    <mat-form-field class="col-md-6 col-sm-6">
      <mat-label>Date Achat</mat-label>
      <input matInput readonly [matDatepicker]="picker" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
 
    <mat-form-field class="col-md-6 col-sm-6">
      <mat-label>Credit</mat-label>
      <input matInput type="number" [value]="service.globalTotal - +avance.value" readonly>
    </mat-form-field>
  
    <mat-form-field class="col-md-6 col-sm-6">
      <mat-label>Avance</mat-label>
      <input matInput [formControl]="avance" type="number">
    </mat-form-field>
 
</div>
<div class="row">
  <div class="col-md-6 mb-2">
    <button class="submit" mat-raised-button [disabled]="service.globalTotal === 0" (click)="submit()" color="accent">
      <div>
        <p>Passer</p>
        <p>commande</p>
        <!-- <mat-icon>send</mat-icon> -->
      </div>
    </button>
  </div>

  <div class="col-md-6 mb-2">
    <!-- {{myAuto.value}} zzzz -->
    <button class="submit" mat-raised-button [disabled]="service.globalTotal === 0 || myAuto.value === ''"
      (click)="devis()" color="accent">
      <div>
        <p>Générer</p>
        <p>devis</p>
        <!-- <mat-icon>send</mat-icon> -->
      </div>
    </button>
  </div>
</div>

<!-- <div class="btns">
  <button mat-raised-button (click)="pdfA5()" color="primary">A5</button>
  &nbsp;
  <button mat-raised-button (click)="pdfA6()" color="warn">A6</button>
  &nbsp;
  <button mat-raised-button (click)="reset()">
    <mat-icon>refresh</mat-icon>
  </button>
</div> -->