mat-card {


  button {
    width: 100px;
    height: 35px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.inputs2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21vw, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 2px;
  // justify-content: space-around;
  // flex-wrap: wrap;
  align-items: center;
  // mat-form-field {
  //   width: 100%;
  // }
}
