.host {
  margin: 1rem;

}
.titre
{
  margin-bottom: 1em;
}


// table {
//   background-color: white;
//   margin-top: 1rem;
// }

.mat-raised-button{
float: right;
margin-bottom: 1em;

}
.row
{
  margin-bottom: 1em;
margin-left: 0.1em;

}

.expension {
  margin: 20px 0;
}

