<div class="host">
  <mat-card>
    <!-- <mat-form-field>
      <mat-label>Années</mat-label>
      <mat-select [formControl]="year" (selectionChange)="selectChange()">
        <mat-option *ngFor="let e of uow.years" [value]="e">{{ e }}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Categorie</mat-label>
      <mat-select [formControl]="idCategorie" (selectionChange)="selectChange()">
        <mat-option value="0">...</mat-option>
        <mat-option *ngFor="let e of categories | async" [value]="e.id">{{ e.libelle }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <p>Article / nbr de vente</p>
    <div class="example-container mat-elevation-z8 " style="overflow: auto;">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div class="example-table-container">
        <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows aria-label="Elements" matSort>
          <ng-container [matColumnDef]="columnDefs[0].columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnDefs[0].headName}}</th>
            <td mat-cell *matCellDef="let row">{{row[columnDefs[0].columnDef]}}</td>
          </ng-container>
          <ng-container [matColumnDef]="columnDefs[1].columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnDefs[1].headName}}</th>
            <td mat-cell *matCellDef="let row">{{row[columnDefs[1].columnDef]}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

      <mat-paginator #paginator [length]="resultsLength" pageIndex="0" pageSize="5"
        [pageSizeOptions]="[5, 10, 25, 50, 100, 250]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card>
</div>